<div class='invite-users'> 
    <div class='align-center'>
        <textarea class='inviteusers-content' placeholder='Enter email ids seperated by comma'></textarea>
    </div>
    <div class='align-right'>
        Set Permission 
        <select class="classic-select">
            <option>Standard</option>
        </select>
    </div> 
    <div class='align-center'>
        <button class='flat-button' {{action next 'userlevels' view}}>Skip</button>
        <button class='flat-button' {{action next 'userlevels' view}}>Next</button>
    </div>
</div>